**/__pycache__
**/.pytest_cache
.coverage
**/venv
**/build
**/dist
**/*.egg-info
.idea.vscode/settings.json
.env
**/__pycache__/
**/__pytest_cache/**
**/.pytest_cache/**
Pipfile*
**/*.ipynb
.cache/**
.coveragerc
coverage.xml
